{% extends 'base.html' %}

{% block title %}Registrar Aspirante{% endblock %}

{% block content %}

<h1>Agregar Aspirante</h1>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <!-- {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label for="{{ form.first_name.id_for_label }}">First name:</label>
        {{ form.first_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.last_name.errors }}
        <label for="{{ form.last_name.id_for_label }}">last name:</label>
        {{ form.last_name }}
    </div> -->
    <input type="submit" value="Guardar">
</form>

{% endblock %}